.header-container h1 {
  background: linear-gradient(to right, #f44336, #e91e63);
  color:transparent;
  -webkit-background-clip: text;
  text-align: center;
  width: 1020px;
  box-shadow: inset 0 0 px rgba(241, 158, 158, 0.5);
  text-shadow: #e91e63 1px 0 10px;
}

.header-container{
  background: linear-gradient(to right, #f798c3, #ffe2e2);
  pointer-events: none;

}