#container {
  margin: 10px auto;
  width: fit-content;
}
#Field {
  border: 1px solid black;
  background-image: url("./img/field.jpg");
  background-position: center;
  background-size: 100%;
  margin-bottom: 10px;
}
#ball {
  /* fix */
  border-radius: 50%;
  background-color: lightgrey;
  position: relative;
  background-size: 100%;
  background-image: 100%;
  background-position: center;
  box-shadow: 0 0 15px rgba(247, 247, 0, 0.5);
  /* vaiable */
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  background-image: url("none");
}

#controll {
  margin: 10px;
  /* border: 1px solid lightcoral; */
}


.ball-changer-container label {
  width: 11vh;
  margin: 5px;
}

.Animation-container{
    border: 1px solid black;
}

.ball-controller button:hover {
  box-shadow: 0 0 15px #e91e63;
}

.ball-changer-container :hover{
  box-shadow: 0 0 15px #e91e63;
}