.Temperatures-container{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: gainsboro;
}


.badge-container{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.Temperatures-variable-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}