.navbar-container{
    display: flex;
    justify-content: space-around;
}

.navbar-container button{
    width: 100px;
    display: flex;
    justify-content: center;
}

.navbar-container button:hover{
    text-align: center;
    width: 130px;
    box-shadow: 0 0 15px rgba(233, 30, 99, 0.5);
}
